USE [master]
GO
/****** Object:  Database [Perguntas]    Script Date: 05/11/2021 13:59:47 ******/
CREATE DATABASE [Perguntas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Perguntas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Perguntas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Perguntas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Perguntas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Perguntas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Perguntas]
GO
/****** Object:  Table [dbo].[astronomia]    Script Date: 05/11/2021 13:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[astronomia](
	[idPergunta] [int] IDENTITY(1,1) NOT NULL,
	[perguntaA] [varchar](500) NOT NULL,
	[perguntaB] [varchar](500) NOT NULL,
	[perguntaC] [varchar](500) NOT NULL,
	[perguntaD] [varchar](500) NOT NULL,
	[resultado] [int] NOT NULL,
 CONSTRAINT [PK_astronomia] PRIMARY KEY CLUSTERED 
(
	[idPergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[botanica]    Script Date: 05/11/2021 13:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[botanica](
	[idPergunta] [int] IDENTITY(1,1) NOT NULL,
	[perguntaA] [varchar](500) NOT NULL,
	[perguntaB] [varchar](500) NOT NULL,
	[perguntaC] [varchar](500) NOT NULL,
	[perguntaD] [varchar](500) NOT NULL,
	[resultado] [int] NOT NULL,
 CONSTRAINT [PK_botanica] PRIMARY KEY CLUSTERED 
(
	[idPergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fisica]    Script Date: 05/11/2021 13:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fisica](
	[idPergunta] [int] IDENTITY(1,1) NOT NULL,
	[perguntaA] [varchar](500) NOT NULL,
	[perguntaB] [varchar](500) NOT NULL,
	[perguntaC] [varchar](500) NOT NULL,
	[perguntaD] [varchar](500) NOT NULL,
	[resultado] [int] NOT NULL,
 CONSTRAINT [PK_fisica] PRIMARY KEY CLUSTERED 
(
	[idPergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[geografia]    Script Date: 05/11/2021 13:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[geografia](
	[idPergunta] [int] IDENTITY(1,1) NOT NULL,
	[perguntaA] [varchar](500) NOT NULL,
	[perguntaB] [varchar](500) NOT NULL,
	[perguntaC] [varchar](500) NOT NULL,
	[perguntaD] [varchar](500) NOT NULL,
	[resultado] [int] NOT NULL,
 CONSTRAINT [PK_geografia] PRIMARY KEY CLUSTERED 
(
	[idPergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quimica]    Script Date: 05/11/2021 13:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quimica](
	[idPergunta] [int] IDENTITY(1,1) NOT NULL,
	[perguntaA] [varchar](500) NOT NULL,
	[perguntaB] [varchar](500) NOT NULL,
	[perguntaC] [varchar](500) NOT NULL,
	[perguntaD] [varchar](500) NOT NULL,
	[resultado] [int] NOT NULL,
 CONSTRAINT [PK_quimica] PRIMARY KEY CLUSTERED 
(
	[idPergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zoologia]    Script Date: 05/11/2021 13:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zoologia](
	[idPergunta] [int] IDENTITY(1,1) NOT NULL,
	[perguntaA] [varchar](500) NOT NULL,
	[perguntaB] [varchar](500) NOT NULL,
	[perguntaC] [varchar](500) NOT NULL,
	[perguntaD] [varchar](500) NOT NULL,
	[resultado] [int] NOT NULL,
 CONSTRAINT [PK_zoologia] PRIMARY KEY CLUSTERED 
(
	[idPergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
